@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap');

body{
    font-family: 'Montserrat',sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
header{
    background: orange;
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.form div{
    margin-bottom: 2em;
    font-size: .9em;
}
.name-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.name-container label{
    align-self: center;
    margin:0  1em 0 0;
}
.name-container error-msg{
    color: red;
    font-size: .7em;
    margin-left: .7em;

}
#button{
    width: 15%;
    align-self: center;
}
#error-email{
    color: red;
    font-size: .7em;
    margin-left: .7em;
}
#error-tel{
    color: red;
    font-size: .7em;
    margin-left: .7em;
}
